.wrapper{
    background-color: black;
    width: 1200px;
    height: 1700px;

}
.wrapper > div{
    background-color: white;
    width: 200px;
    height: 100px;
    border: 1px solid red;
}
.blok1{
    position: static;
}
.blok2{
    position: relative;
    left: 1300px ;
    top: 300px;
}
.blok3{
    position:absolute;
    left: 300px;
    top: 500px;
}
.blok7{
    position:fixed;
    left: 400px;
    top: 100px;
}
.blok5{
    position:sticky;
    left: 600px;
    top: 200px;
}
.blok4{
    position:sticky;
    left: 569px;
    top: 569px;
}
.blok6{
    position:fixed;
    left: 1269px;
    top: 222px;
}